.header1{
    margin-bottom: 80px;
}
.header1 img{
    width: 100%;
}
.habc{
    color: #55b74d;
}
.p123{
    text-align: center;
    color: cornflowerblue;
}
.p234{
    color: #ff0080;
    text-align: center;
}
.hcde{
    color: chartreuse;
}
.slogan{
    margin: 50px 0;
    height: 80px;
}